#wallet-wrapper{
    display: inline-flex;
    /* position: absolute; */
    right: 10px;
    top: 10px;
    flex-direction: column;
    border: 1px solid black;
    width: 300px;
}
#wallet-wrapper p{
    font-size: 1.5rem;
    font-weight: 900;
    padding-left: 10px;
}
#playerHand-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#card{
    margin: 2px;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: space-between;
    align-items: flex-start;
}
#card .left {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 18px;
    padding-left: 10px;
    color: red;
}

#card .right {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 18px;
    align-self: flex-end;
    padding-right: 10px;
}